    <div class="container">
      <ol class="breadcrumb">
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to @category.title, "#" %></li>
      </ol>

      <form class="navbar-form navbar-right" action="@link(0, "name")" method="GET">
      	<div class="form-group">
          <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Search for...">
          <input type="submit" id="searchsubmit" value="Submit" class="btn btn-default">
        </div>
      </form>
      
      <h2>
        <%= @category.title %>
      </h2>
      <p>
        <%= @category.description %>
      </p>
      <h3> <div class="dropdown">
       <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        Spring 2014 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation" class="dropdown-header">Previous Semesters</li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2013</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Spring 2013</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2012</a></li>
          <!-- Divider if needed for later
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        -->
      </ul>
    </div>
  </h3>
  <div class="navbar navbar-default"> 
    <div class="container-fluid pull-left"> 
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Sort By</div>
      </div>
      <div class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">
         <li>
          <a href="@link(0, "datePosted")">Newest</a>
        </li>
<!--               <li>
                <a href="@link(0, "votes")">Votes</a>
              </li> -->
              <li>
                <a href="@link(0, "comments")">Answers</a>
              </li>
            </ul>
            @if(user != null){
            <form class="navbar-form navbar-right" role="search">
              <a href="@routes.Application.submitPost(currentCategory.id)" class="btn btn-primary">Submit Question for @currentCategory.title</a>
            </form>
          }
        </div>
      </div>
    </div>
    <!-- Stickies -->
    @for(sticky <- stickyList) {
    <section>
     <div class="panel panel-warning">
       <div class="panel-heading">
        <div class = "row">
          <div class = "col-xs-1">
            <span class="label label-warning">STICKY</span>
          </div>
          <div class = "col-xs-11">
            <a href = "@routes.Application.post(sticky.id)" class = "postLink"> @sticky.title</a>
            @if(user != null){
            <span class = "pull-right">Submitted by @sticky.userName</span>
          }
        </div>
      </div> 
    </div>
  </div>
</section>
}

<hr>

<!-- Code Challenge -->
@for(challenge <- codeChallengeList) {
<section>
 <div class="panel panel-danger">
   <div class="panel-heading">
    <div class = "row">   
      <div class = "col-xs-1">
        <span class="label label-danger">CHALLENGE</span>
      </div> 
      <div class = "col-xs-11">
        <a href = "@routes.Application.codeChallenge(challenge.id)" class = "postLink"> @challenge.title</a>
      </div>
    </div> 
  </div>
</div>
</section>
}

<hr>

<!-- content -->
<% @posts.each do |post| %>

<section>
  <div class = "row">

    <div class = "col-xs-12">
    

    <% if(@posts.count % 2 == 0) %>
    <div class="panel panel-default">
    <% else %>
    <div class="panel panel-info">
    
    <% end %>

    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-xs-1">
          <div class = "label label-info">
            <%= post.id %>
          </div>
        </div>
        <div class = "col-xs-8">
          <!-- will need link_to here for each post -->
          <a href = "@routes.Application.post(post.id)" class = "postLink"><%= post.title %></a>
        </div>
        <div class = "col-xs-3">
          <div class = "pull-right">
            @post.commentList.length
            @if(post.commentList.length == 1){
            Answer
          }else{
          Answers
        }
      </div>
    </div>

  </div>

  <div class = "row">
    <div class = "col-xs-3 col-xs-offset-10 pull-right">
      <div class = "author">
        Submitted by <span class = "badge"><%= post.user.name %></span> 
      </div>
      <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
    </div>
  </div>

<!--                         <span class="label label-info">#@post.id</span><a href = "@routes.Application.post(post.id)" class = "postLink"> @post.title</a>
                          <span class = "pull-right stats">@post.comments Answers</span>
                          @if(user != null){
                            <div class = "author">
                                Submitted by <span class = "badge">@post.userName</span> on @post.datePosted.format("MMMM dd, yyyy h:mm:ss a")
                            </div>
                          } -->
                        </div>
                      </div>
                    </div>
                    <% if(current_user == post.user.name) %>
                    <div class = "col-xs-2 dangerButton">
                      <form id = "deleteForm" action = "@routes.Application.deletePost(post.id, currentCategory.id)" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                      </form>
                    </div>
                    <% end %>
                  
                </div> 
                <% end %>
                <!--row  -->
            <!-- @if(index % 2 == 0){
                <div class="panel panel-default">
            }else{
                <div class="panel panel-info">
            }
                    <div class = "panel-heading">
                          <span class="label label-info">#@post.id</span><a href = "@routes.Application.post(post.id)" class = "postLink"> @post.title</a>
                          <span class = "pull-right stats">@post.votes Votes</span>
                          <span class = "pull-right stats">@post.comments Answers</span>
                          @if(user != null){
                            <div class = "author">
                                Submitted by <span class = "badge">@post.userName</span> on @post.datePosted.format("MMMM dd, yyyy h:mm:ss a")
                            </div>
                          }
                        <div class = "danger">
                        <a href = "#" class = "btn btn-danger">Delete</a> 
                        </div>
                    </div>
                  </div> -->
                </section>
              }

              <!-- Pagination -->
              <div id="pagination">
                <ul class="pagination">
                  @if(currentPage.hasPrev) {
                  <li class="prev">
                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                  </li>
                } else {
                <li class="prev disabled">
                  <a>&larr; Previous</a>
                </li>
              }
              <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
              </li>
              @if(currentPage.hasNext) {
              <li class="next">
                <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
              </li>
            } else {
            <li class="next disabled">
              <a>Next &rarr;</a>
            </li>
          }
        </ul>
      </div>
    </div>

