  <div class="container">

    <ol class="breadcrumb">
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to @category.title, @category %></li>
      <li><%= link_to @post.title, post_path %></li>
    </ol>

    <h2><%= @category.title %></h2>
    <p><%= @category.description %></p>

    <% if current_user.admin == true && @post.sticky == false %>
    <a class="btn btn-success btn-md" href="@routes.Application.makePostSticky(currentPost.category.id, currentPost.id)">Sticky this Post</a>
    <% else %>
    <a class="btn btn-success btn-md" href="@routes.Application.unStickyPost(currentPost.category.id, currentPost.id)">Unsticky this Post</a>
    <% end %>

    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="label label-info">#<%= @post.id %></span>  <%= @post.title %></a>               
        </div>           
        <div class="panel-body">
          <div class = "row">
            <div class = "col-sm-11 content">
              <%= @post.content %>
            </div>


            <div class="hidden-xs col-sm-1 votes">
              @if(currentPost.usersVoted.contains(user)) {
              <div>
                <a id="voted" class="button btn-default" href="#" disabled> 
                  <span id="votedGlyph" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </div>  
              <div id="voteAmount2">@currentPost.votes</div>
              <script>
              $("#voted").addClass("btn-disabled");
              $("#votedGlyph").addClass("voted-color");
              $("#voteAmount2").addClass("voted-color");              
              </script>           
            } else {
            @if(user != null){
            <div>
              <a id="upvote0" class="button btn-default" href="#" > 
                <span id="glyphup0" class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </div>
          }
          <div id="voteAmount">@currentPost.votes</div>

          <script>
              $(function(){ //called when DOM is ready
                $("#upvote0").click(function(){ // called on click
                  myJsRoutes.controllers.Application.vote(@currentPost.id).ajax({
                    success : function(data) { 

                    }
                  });
                  $("#voteAmount").text("" + (@currentPost.votes + 1));
                  $("#upvote0").addClass("btn-disabled");
                  $("#glyphup0").addClass("voted-color");
                  $("#voteAmount").addClass("voted-color");

                })
              })
              </script>
            }
            <!--  
            @if(user != null){
            <div>
              <a id="downvote0" class="button btn-default" href="#" onclick="vote(0, -1); return false;"> 
                <span id="glyphdown0" class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </div>
            }
          -->
        </div>

      </div>
    </div>          
    <div class="panel-footer">
      Submitted by <span class="badge"><%= @user.name %></span> <%= time_ago_in_words(@post.created_at) %> ago.
    </div>
  </div>
</div>
</section>

<hr>
<h3><%= pluralize(@comments.count, "comment") %></h3>
<hr>

<!-- Replies -->
    <%= render 'comments/list' %>
      <!-- End of Replies -->

      <!-- Post a Reply -->
      <%= render 'comments/form' %>

  </body>

  </html>
