  <div class="container">

    <ol class="breadcrumb">
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to @category.title, @category %></li>
      <li><%= link_to @post.title, post_path %></li>
    </ol>

    <h2><%= @category.title %></h2>
    <p><%= @category.description %></p>

    <% if current_user.admin == true && @post.sticky == false %>
    <a class="btn btn-success btn-md" href="@routes.Application.makePostSticky(currentPost.category.id, currentPost.id)">Sticky this Post</a>
    <% else %>
    <a class="btn btn-success btn-md" href="@routes.Application.unStickyPost(currentPost.category.id, currentPost.id)">Unsticky this Post</a>
    <% end %>

    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="label label-info">#<%= @post.id %></span>  <%= @post.title %></a>               
        </div>           
        <div class="panel-body">
          <div class = "row">
            <div class = "col-sm-11 content">
              <%= @post.content %>
            </div>


            <div class="hidden-xs col-sm-1 votes">
              @if(currentPost.usersVoted.contains(user)) {
              <div>
                <a id="voted" class="button btn-default" href="#" disabled> 
                  <span id="votedGlyph" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </div>  
              <div id="voteAmount2">@currentPost.votes</div>
              <script>
              $("#voted").addClass("btn-disabled");
              $("#votedGlyph").addClass("voted-color");
              $("#voteAmount2").addClass("voted-color");              
              </script>           
            } else {
            @if(user != null){
            <div>
              <a id="upvote0" class="button btn-default" href="#" > 
                <span id="glyphup0" class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </div>
          }
          <div id="voteAmount">@currentPost.votes</div>

          <script>
              $(function(){ //called when DOM is ready
                $("#upvote0").click(function(){ // called on click
                  myJsRoutes.controllers.Application.vote(@currentPost.id).ajax({
                    success : function(data) { 

                    }
                  });
                  $("#voteAmount").text("" + (@currentPost.votes + 1));
                  $("#upvote0").addClass("btn-disabled");
                  $("#glyphup0").addClass("voted-color");
                  $("#voteAmount").addClass("voted-color");

                })
              })
              </script>
            }
            <!--  
            @if(user != null){
            <div>
              <a id="downvote0" class="button btn-default" href="#" onclick="vote(0, -1); return false;"> 
                <span id="glyphdown0" class="glyphicon glyphicon-chevron-down"></span>
              </a>
            </div>
            }
          -->
        </div>




      </div>
    </div>          
    <div class="panel-footer">
      Submitted by <span class="badge"><%= @user.name %></span> <%= time_ago_in_words(@post.created_at) %> ago.
    </div>
  </div>
</div>
</section>
<hr>
<h3>@commentList.length Answers</h3>
<hr>

<!-- Replies -->
@for(comment <- commentList) {
<div class="panel-body">
  <div class = "row">
    <div class = "col-sm-11 content">
     @Html(comment.content)
   </div>

<!--               <div class = "hidden-xs col-sm-1 votes">
                @if(user!=null){
                  <div>
                    <span class = "glyphicon glyphicon-chevron-up"></span>
                  </div>
                }
                <div class = "votes">
                  1
                </div>
                @if(user!=null){
                  <div>
                    <span class = "glyphicon glyphicon-chevron-down"></span>
                  </div>
                }
              </div> -->
            </div>
            <div class = "authorReply">
              @if(user!=null){
              Submitted by <span class = "badge">@comment.author</span><br>
            }
            Answered <span class="timeago" title="@comment.submission_date.format("yyyy-MM-dd'T'hh:mm:ss-22:00")"
            data-toggle="tooltip" data-placement="top">@comment.submission_date.format("MMMM dd yyyy hh:mm:ss a")</span>

          </div>
        </div>
        <hr>

      }
      <!-- End of Replies -->

      <!-- Post a Reply -->
      @if(user != null){
      <hr>
      <h3>Post a Reply</h3>
      <form id = "editor-form" action = "@routes.Application.createComment(currentPost.category.id, currentPost.id)" method="POST">
        <div class="form-group">
          <textarea class="editor" name="editor1" id="editor1" rows="10" cols="80"></textarea>
          <script>CKEDITOR.replace('editor1');</script>
        </div>
        <input type="submit" value="Submit Comment" class="btn btn-success btn-lg">
      </form>

    </div>
    <!-- End toolbar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
        <!-- <button type="submit" id="submit-btn" class="btn btn-success btn-lg">Submit</button>
        <script>
          $('#submit-btn').click(function () {
            // get date
            var d = new Date();
            var month = d.getMonth()+1;
            var day = d.getDate();
            var year = d.getFullYear().toString().substr(2,2);
            var outputDate = (month<10 ? '0' : '') + month + '/' +
              (day<10 ? '0' : '') + day + '/' + year;
            // get time
            var hours = d.getHours();
            var minutes = d.getMinutes();
            var hours = hours%24; 
            var mid='am';
            if(hours==0){ //At 00 hours we need to show 12 am
              hours=12;
            }
            else if(hours>12){
              hours=hours%12;
              mid='pm';
            }
            if (minutes < 10){
              minutes = "0" + minutes;
            }
            outputTime = hours + ":" + minutes + " " + mid;
            var input = CKEDITOR.instances.editor1.getData();
            CKEDITOR.instances.editor1.setData("");
            var newEntry = $('<hr><div class = "panel-body"><div class = "row"><div class = "col-sm-11 content">' + input + '</div><div class = "col-sm-1 votes"><div><span class = "glyphicon glyphicon-chevron-up"></div><div class = "votes">0</div><div><span class = "glyphicon glyphicon-chevron-down"></div></div></div><div class = "authorReply">Submitted by <span class = "badge">You</span><br>Answered ' + outputDate + ' at ' + outputTime + '</div></div>');
            var lastReply = $(".panel-body").get(-1);
            console.log(lastReply);
            $(newEntry).insertAfter(lastReply);
            });
          </script> -->
        </div>
      </div>
    </div>

  </body>

  </html>
